@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
* {
  padding: 0;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
  max-width: 430px;
  
}

html {
  font-size: 62.5%;
}

/*  LOGIN & REGISTER    */

.banniere{
  text-align: center;
}
#logo_app{
  font-family: "Dancing Script";
  padding-bottom: 5px;
  font-size: 7rem;
}

.banniere h3{
  font-family: "Poppins";
  padding-bottom: 10px;
  margin-top : -30px;
  font-size: 2.5rem;
  font-weight: 300;
}

form.form_con{
  align-content: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 95%;
  padding-left: 5%;

}


input[type="mail"], input[type="password"], input[type="text"]{
  border : 1px solid black;
  background-color: none;
  height:50px;
  margin-top: 10px;
  margin-bottom : 10px;
  font-size: 2rem;
  font-family: "Poppins";
}

label{
  font-size: 2rem;
  font-family: "Poppins";
}

input[type="checkbox"]{
  margin: 10px;
}

input[type="submit"]{
  background-color: #6495ED;
  color :  white;
  border : 1px solid #6495ED;
  font-size : 2.5rem;
  padding : 10px;
  font-family: "Poppins";
}

.lien_ins{
  display: flex;
  flex-direction: row;

    margin-top: 15%;
    font-size: 1.3rem;
    font-family: "Poppins";
}

.lien_ins p {
      margin-right: 10px;
}

.lien_ins a {
  text-decoration: none;
  color : #6495ED;
  font-size: 2rem;
    margin-top: 10px;
    font-family: "Poppins";
}

.logo_univ{
  display: flex;
  flex-direction: row;
  text-align: center;
    margin: auto;
    justify-content: center;
    align-content: center;
    position : absolute;
    bottom : 0;
    left : 35%;
}

.logo_univ a{
  text-decoration: none;
  color : black;
  font-weight: 300;
  text-align: center;
  font-size : 1.3rem;
  font-family: "Poppins";
}

.logo_univ img{
  width: 100px;
  height : auto;
}



/*  MENU TOP     */

.menu_top{
  display : flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  width : 100%;
  font-size: 4rem;
  padding: 10px;
  font-family: "Dancing Script";
  margin-bottom: 150px;
  position : fixed ;
  top : 0;
  background-color: white;
  z-index: 1000;
}

.content{
  margin-top : 100px;
      margin-bottom: 100px;

}

.menu_top a, .menu_bot a{
  color : black;
}

.bxs-paper-plane{
  color : #6495ED;
}


/* MENU EN BAS*/

.menu_bot{
  display : flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 .5rem 3rem rgba(0,0,0,.1);
  position:fixed;
  background-color: white;
  bottom : 0;
  font-size: 4rem;
  padding: 10px;
  width : 100%;
  margin-top: 15px;
}

.menu_bot a.active::after {
  content: "";
  display: block;
  border-bottom: 3px solid #6495ED;

}


/*main */




/* PUBLICATION */

.head_pub{
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  font-family: "Poppins";
  text-align: left;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 15%;
}

.head_pub p{
  position : relative;
}

.head_pub h3{
  font-size: 5rem;
  font-family: "Dancing Script";
  transform: translate(-35px, 25px);
}

.photos{
  border : 1px solid #6495ED;
  color : white;
  background-color : #6495ED;
  padding : 10px;
  font-size : 2.5rem;
}

#photos{
  display: none;
}


/* PAGE ARTICLES */
.publication{

  display : flex;
  flex-direction: column;

}

.publication span, .publication h3, .publication a{
  margin-top : 10px;
  margin-bottom : 10px;
  margin-left : 20px;
  margin-right : 20px;
  font-family: "Poppins";
  
}

.publication span, .publication a{
  font-size: 2rem;
  margin-left : 15px;
}

.publication a{
  text-decoration: none;
  color : black;
}

.publication h3{
  font-size: 3rem;
}

.publication img{
  max-width: 90%;
  align-self: center;
}

.description_publication{
  display : flex;
  flex-direction: row;
  font-size: 2rem;
  margin-left : 20px;
  margin-bottom : 10px;
  font-family: "Poppins";
}

.description_publication i{
  
  font-size: 4rem;
}

.description_publication span{
  flex-grow:1;
}

/* search */


.form_search{
  display : flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  padding: 10px;
  margin-bottom: -80px;

}

button[type="submit"] {
  background-color: white;
  color :  #6495ED;
  border : 1px solid white;
  font-size : 4rem;
  margin : 10px;
  font-family: "Poppins";
}



p{
  font-size: 2rem;
  margin-left : 20px;
  margin-right : 20px;
  margin-bottom : 10px;
  margin-top : 10px;
  font-family: "Poppins";
}

p#no_info{
  font-size: 2rem;
  margin-left : 20px;
  margin-right : 20px;
  margin-bottom : 10px;
  margin-top : -50px;
  font-family: "Poppins";
}


.form_search input[type="text"]{
  border : 1px solid gray;
  border-radius: 5px;
  background-color: none;
  height:50px;
  margin-top: 10px;
  padding: 15px;
  margin-bottom : 10px;
  font-size: 2rem;
  font-family: "Poppins";
}


/* Page amis */
.utilisateurs{
  display : flex;
  flex-direction: column;

  
}

.utilisateurs h2{
  font-family: "Poppins";
    font-size : 2.5rem;
    padding : 10px;
    color : black;
    margin : 10px;
    text-decoration: none;
}




.user{
  display : flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user span {
    font-family: "Poppins";
    font-size : 1.5rem;
    color : black;

    padding : 10px;
    margin : 10px;
    margin-top: 10px;
    text-decoration: none;
}

.button_friend{
  background-color: #6495ED;
  color :  white;
  border : 1px solid #6495ED;
  font-size : 2rem;
  padding : 10px;
  font-family: "Poppins";
  text-decoration: none;
  margin : 10px;
}

.friend {
    font-family: "Poppins";
    font-size : 2rem;
    margin-bottom: 10px;
    color : black;
    text-decoration: none;
}


/* feed actu */


.actu {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 430px;
  margin: 10px;

}

.article_actu {
  margin: 10px;
  flex-basis: 182px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}
  

.article_actu a {
  display: flex;
  text-decoration: none;
    flex-wrap: wrap;

}

.article_actu p {
  color: white;
  background: #6494eda7;
  font-size: 1.3rem;
  font-family: "Poppins";
  position: absolute;
    padding: 5px 10px 5px 10px;
    top: -10px;
    right: -20px;
}

.article_actu img {
  width: 100%;
  height: auto;
  object-fit: cover;


}
